@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

// custom variables

$enable-negative-margins: true;

$font-family-sans-serif: "Overpass", sans-serif;
$btn-font-family: "Ubuntu";

$primary: #ff505c;

$light: #fafafa;
$dark: #24242c;

//import the functions & variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$font-sizes: (
  1: 64px,
  2: 40px,
  3: 28px,
  4: 20px,
  5: 16px,
  6: 15px,
);

$spacers: (
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.25,
  8: $spacer * 2,
  10: $spacer * 2.5,
  12: $spacer * 3,
  16: $spacer * 4,
  20: $spacer * 5,
  24: $spacer * 6,
  28: $spacer * 7,
  32: $spacer * 8,
  36: $spacer * 9,
  48: $spacer * 12,
);

// $font-sizes: map-merge($custom-font-sizes, $font-sizes);
// $spacers: map-merge($custom-spacers, $spacers);

// import boostrap
@import "../node_modules/bootstrap/scss/bootstrap";
