.rounded-btn {
  border-radius: 28px;
}
.rounded-sec {
  border-radius: 100px;
}
.rounded-tr-sec {
  border-top-right-radius: 100px;
}
.rounded-bl-sec {
  border-bottom-left-radius: 100px;
}

.h-btn {
  height: 48px;
}
.w-btn {
  width: 137px;
}
.font-ubuntu {
  font-family: "Ubuntu";
}
